/* Typography
 * ------------------------------*/
@import "_variables.css";

h1, h2, h3, h4, h5, h6 {
  /*!critical*/
	font-family: var(--headingsFontFamily);
	font-weight: var(--headingsFontWeight);
	line-height: var(--headingsLineHeight);
	color: var(--headingsColor);
	margin-bottom: 0.5rem;
}

h1 {
	font-size: var(--fontSizeH1);
	margin-bottom: 1.5rem;
}

h2 {
	font-size: var(--fontSizeH2);
}

h3 {
	font-size: var(--fontSizeH3);
}

h4 {
	font-size: var(--fontSizeH4);
}

h5 {
	font-size: var(--fontSizeH5);
}

h6 {
	font-size: var(--fontSizeH6);
}

.list-unstyled {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.lead {
	font-family: var(--fontSansSerif);
	font-size: var(--fontSizeXl);
	font-weight: 300;
	line-height: 1.65;
	margin-bottom: 4.5rem;
	text-align: center;

	@media (--minMd) {
		transform: translateX(-5vw);
		width: calc(100% + 10vw);
	}
}
