.section {
	/*!critical*/
	display: grid;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 35vw 1.25rem;

	@media (--minMd) {
    /*!critical*/
		padding: 27.5vw 20vw;
	}

	@media (--minXl) {
    /*!critical*/
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		padding: 20vh 7.5vh;
	}

	@media (--minXxl) {
    	/*!critical*/
		padding: 20vh 10vh;
	}
}

.section--content {
  /*!critical*/
	@media (--minXl) {
		grid-column: 2;
		padding: 0 2.5vw;
	}
}

.section--label {
   /*!critical*/
	margin: 0 0 3.25rem;
	font-size: var( --fontSizeXxl);
	font-weight: 700;
}

.section--title {
  /*!critical*/
	margin: 5rem 0 1.5rem;
	font-size: var(--fontSizeSm);
	color: var(--grayLight);
	line-height: 1.2;
	text-transform: uppercase;

	&:first-child {
    /*!critical*/
		margin-top: 0;
	}

	& .section--label {
    /*!critical*/
		letter-spacing: 0.125rem;
	}
}


/* INTRO
-------------------------------------------------------------- */
.section--intro {
  /*!critical*/
	color: var(--white);
	background-color: var(--blackOff);

	& .section--label {
    /*!critical*/
		display: block;
		grid-column: 2;
		margin: 0 0 1.675rem;
		font-size: var( --fontSizeXs);
		font-weight: 700;
		color: var(--grayLight);
		text-transform: uppercase;
	}

	& .section--title {
    	/*!critical*/
		padding: 0 2.5vw;
		margin: 0;
		font-size: 7vw;
		font-weight: 700;
		color: var(--white);
		line-height: 1.1;
		text-transform: none;
		transition: opacity var(--transitionTimingSlow) ease-in-out, transform var(--transitionTimingSlow) ease-in-out;

		@media (--minSm) {
			font-size: 8vw;
		}

		@media (--minMd) {
			font-size: 5vw;
		}

		@media (--minXl) {
			font-size: 3.5vw;
		}

		@media (--minXxl) {
    		/*!critical*/
			font-size: 3.75vw;
		}
	}

	& .scroll-link {
    	/*!critical*/
		display: inline-block;
		color: var(--white);
		text-decoration: none;
		border-bottom: 1px solid var(--white);
	}

	& .scroll-link--name {
    	/*!critical*/
		margin-bottom: 0.75rem;
	}
}


/* ABOUT
-------------------------------------------------------------- */
.about--visual {
	margin: 5vh 0 0;
}

.btn-cv {
	margin: 2vh 0 0;
}


/* WORK
-------------------------------------------------------------- */
.list--work,
.list--awards {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.list--item {
	& a[itemprop="url"] {
		position: relative;
		display: inline-block;
		padding: 1rem 0;
		overflow: hidden;
		text-decoration: none;

		@media (--minMd) {
			padding: 0.75rem 0;
		}

	   	& .item--title {
				display: inline-block;
				margin: 0;
				font-size: var(--fontSizeLg);
				font-weight: 600;
			}

			& .item--client {
				display: block;
				margin: 0.25rem 0;
				font-size: var(--fontSizeXs);
				font-weight: 600;
			}

	   	& .item--details {
			margin-top: 0.25rem;
			font-size: var(--fontSizeXs);
			color: var(--grayLight);

				@media (--minMd) {
					margin-top: 0;
				}
	   	}

		& .item--link {
			display: block;
			margin-top: 0.25rem;
			font-family: var(--fontSansSerif);
			font-size: 85%;
			font-weight: 600;
			text-transform: uppercase;

			@media (--minMd) {
				margin-top: 0;
				color: var(--blackOff);
				transform: translateY(0.25rem);
			}

			@media (--minLg) {
				opacity: 0;
				transform: translateY(0.5rem);
				transition: opacity var(--transitionTimingBase) ease-in-out, transform var(--transitionTimingBase) ease-in-out;
				will-change: opacity, transform;
			}
		}

		& .icn--link-external {
			width: 0.45rem;
			height: 0.45rem;
			transform: translate(0, -25%);

			@media (--minLg) {
				transform: translate(0.25rem, -25%);
				transition: transform 200ms 100ms ease-in-out;
				will-change: opacity, transform;
			}
		}

		&:hover,
		&:focus {
			& .item--link {
				@media (--minLg) {
					opacity: 1;
					transform: translateY(0.25rem);
				}
			}

			& .icn--link-external {
				@media (--minLg) {
					transform: translate(0, -25%);
				}
			}
		}
	}
}

.list--awards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-content: center;
	align-items: center;
	/*justify-content: space-between;*/
	justify-items: start;
	text-align: left;
	width: 100%;

	& li:nth-of-type(1) {
		grid-column: 1;
	}

	& li:nth-of-type(2) {
		grid-column: 2;
	}

	& li:nth-of-type(3) {
		grid-column: 3;
	}

	& .icn {
		width: 66.6%;

		@media (--minMd) {
			width: 33.3%;
		}

		@media (--minXl) {
			width: 6rem;
		}
	}

	& .icn--award_webby {
		height: calc(6rem * 0.568);
	}

	& .icn--award_addy {
		height: calc(6rem * 0.632);
	}

	& .icn--award_web {
		height: calc(6rem * 0.824);
	}
}
